<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Виды спорта</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:replace="general :: page-header"></div>

<div class="indent">
    <table class="table table-bordered table-warning">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> Название</th>
            <th scope="col"> Командный вид спорта</th>
            <th scope="col"> </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${sports.isEmpty()}">
            <td colspan="6"> В базе пока нет ни одного вида спорта.</td>
        </tr>
        <tr th:each="sport : ${sports}">
            <td>
                <a th:if="${!addButton}" th:href="${backLink} + 'sportId=' + ${sport.getId()}"><span
                    th:text="${sport.getSport_name()}"> </span></a>
                <span th:if="${addButton}" th:text="${sport.getSport_name()}"></span>
            </td>
            <td><span th:text="${sport.getIs_team_sport() ? 'да' : 'нет'}"></span></td>
            <td th:if="${addButton}">
                <form method="get"action="/removeSport">
                    <button id="removeSportButton" type="submit" class="btn btn-primary">Удалить вид спорта.</button>
                    <input type="hidden" name="sportId" th:value="${sport.getId()}">
                </form>
            </td>
        </tr>
        <tr th:if="${addButton}"><td>
            <form method="get" action="/addSport">
                <button id="addSportButton" type="submit" class="btn btn-primary">Добавить вид спорта.</button>
            </form>
        </td></tr>
        </tbody>
    </table>
</div>

<div th:replace="general :: site-script"></div>

</body>
</html>